{% extends "baselayout.html" %}
{% block content %}
    {% if all_questions %}
        {% for question in all_questions %}
            <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    <h2><a class="mr-2" href="#">{{ question.title }}</a></h2>
                </div>
                <p class="article-content">{{ question.question}}</p>
                <div>
                    <small class="text-muted">{{ question.date }}, {{ question.time }} - UTC</small>
                </div>
            </div>
            </article>
        {% endfor %}
    {% else %}
        <p class="article-content font-weight-bold">No questions asked yet</p>
    {% endif %}
{% endblock content %}

{% block profile %}
    <div class="content-section">
        <div class="media">
            <img class="rounded-circle account-image" src="{{ image_file }}">
            <div class="media-body">
                <h2 class="small font-weight-bold text-md-left">{{ current_user.username }}</h2>
{#                <h2 class="account-heading">{{ current_user.username }}</h2>#}
                <p class="text-secondary">{{ current_user.email }}</p>
            </div>
        </div>
    </div>
{% endblock profile %}