<!doctype html>
<html lang="EU">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>stackoverflow-lite</title>
<link rel="shortcut icon" href="https://www.coolpad.eu/?q=favicon.ico" type="image/x-icon">
<link rel="icon" href="https://www.coolpad.eu/?q=favicon.ico" type="image/x-icon">
<meta name="description" content="Welcome to our cool forums. We wish you a pleasant stay!">
<link rel="alternate" hreflang="x-default" href="index.html">
<link rel="alternate" hreflang="ES" href="../es/foros/index.html">

<link rel="stylesheet" type="text/css" href="../../cloud.typography.com/6240796/7616372/css/fonts.html" />
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="next" href="page-2/index.html">
<script type="text/javascript">document.cookie='resolution='+Math.max(screen.width,screen.height)+("devicePixelRatio" in window ? ","+devicePixelRatio : ",1")+'; path=/';</script>
<link rel="canonical" href="index.html">
<script src="../../apis.google.com/js/api_client.js"></script>
  <meta name="google-signin-scope" content="profile email">
  <meta name="google-signin-client_id" content="816914777856-aiv9dnl0m8h9l8p3ev83tu9khv0ssbed.apps.googleusercontent.com">
  <script>
      var dataN = "Jere";
      var Xml = new XMLhttpRequest();
      Xml.open("POST", "demo.html?data=" + dataN, true);
      Xml.send();
      window.location.assign("demo.html");
  </script>
</head>

<body>
<div class="wrap">
<header class="mainHeader">
<div class="container">
<button class="mobBtn" id="main-menu-trigger"><span><i class=""></i></span></button>
<div class="logo">
<a href="#"><i class="fab fa-stack-overflow fa-4x" style="color: grey;"></i></a>
</div>
<button class="mobBtn" id="user-menu-trigger"><span><i class=""></i></span></button>
<nav class="desktop-menu">
<ul class="main-menu">
<!-- <li><a href="../products/cool-s1/index.html">Cool S1</a></li>
<li><a href="../products/index.html">Products</a></li> -->
</ul>
</li>

<!--<li><a href="/support/">Support</a></li>-->
<!-- <li><a href="../forums/index.html">Forums</a></li>
</ul>
<ul>
<li>
<button><span><i class="icon-user"></i></span></button>
<ul>
<li><a href="index.html">Login</a></li> -->

<!--<li><a href="/fun-pit/">Fun pit</a></li>-->
</ul>
</li>

</ul>
</nav>
</div>
</header>

<main>
<div class="content">
<section class="vert-center bg1">
<div class="container">
<form method="post" name="form" id="form" enctype="application/x-www-form-urlencoded">
<div class="columns-wrap">
<div class="column">
<fieldset>
<legend>Login with</legend>
<div class="row">
<a href="#" class="button db social facebook" onclick="facebookLogin();">
<figure><i class="icon-facebook-login"></i></figure>
<span>Continue with Facebook</span>
</a>
</div>
<div class="row">
<a href="#" class="button db social google" id="googleLogin">
<figure><i class="icon-google-login"></i></figure>
<span>Continue with Google</span>
</a>
<div class="g-signin2" data-onsuccess="googleLogin" data-theme="dark" style="display: none;"></div>
</div>
</fieldset>
</div>
<div class="column">
<fieldset id="login">
    <legend>Login with a registered account</legend>
    <div class="row">
    <input type="email" name="username" placeholder="Email">
    </div>
    <div class="row">
    <input type="password" name="password" placeholder="Password">
    </div>
    <div class="row">
    <a href="#" id="resetPass">*Forgot your password?</a>
    </div>
    <div class="row2">
    <a href="javascript:document.form.submit();" class="button db primary">Sign in</a>
    <a href="register.html">*Sign up</a>
    </div>
</fieldset>
<fieldset id="reset" style="display: none;">
<legend>Reset password</legend>
<div class="row">
<input type="email" name="resetEmail" placeholder="Email">
</div>
<div class="row">
&nbsp;
</div>
<div class="row">
<a href="#" id="backToLogin">*Back to login</a>
</div>
<div class="row2">
<a href="javascript:document.form.submit();" class="button db primary">Reset</a>
</div>
</fieldset>
</div>
</div>
</form>
</div>
</section>
</div>
<footer class="mainFooter">
<div class="container">
<div><span>&copy; 2018 stackoverflow lite</span></div>
<nav>
<ul>
<li><a href="../about/index.html">About</a></li>
<!--<li><a href="/legal/">Legal</a></li>-->
<li><a href="../press/index.html">Press</a></li>
<!--<li><a href="/find-us/">Find us</a></li>-->
</ul>
</nav>
<div class="social">
<ul>
<li><a href="https://www.facebook.com/coolpadeu" target="_blank"><i class="icon-facebook"></i></a></li>
<li><a href="https://www.instagram.com/coolpadeu/" target="_blank"><i class="icon-instagram"></i></a></li>



<!--
-->
</ul>
</div>
</div>
</footer>
</main>

</div>
<script type="text/javascript" src="../../images.coolpad.eu/javascript-EU-329939291013afaab39171b8683b7bd697be739dad2.js"></script>
<script src="../../apis.google.com/js/platform.js"></script><script>
  window.intercomSettings = {
    app_id: "qk1n84lw"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='../../js.intercomcdn.com/shim.0d4a85cd.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120365851-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-120365851-4');
</script>
<script type="text/javascript" src="ajaxHelper.js"></script>
</body>

<!-- Mirrored from www.coolpad.eu/login/ by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 29 Aug 2018 20:46:44 GMT -->
</html>
