<!doctype html>
<html lang="EU">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>stackoverflow-lite</title>
    <link rel="shortcut icon" href="https://www.coolpad.eu/?q=favicon.ico" type="image/x-icon">
    <meta name="description" content="Welcome to our cool forums. We wish you a pleasant stay!">
    <link rel="alternate" hreflang="x-default" href="index.html">
    <link rel="alternate" hreflang="ES" href="../es/foros/index.html">

    <link rel="stylesheet" type="text/css" href="../../cloud.typography.com/6240796/7616372/css/fonts.html" />
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    <script type="text/javascript">document.cookie='resolution='+Math.max(screen.width,screen.height)+("devicePixelRatio" in window ? ","+devicePixelRatio : ",1")+'; path=/';</script>
    <link rel="canonical" href="index.html">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/docs.min.css') }}">
    <link rel="next" href="page-2/index.html">
</head>
<body>
<div class="wrap">
<header class="mainHeader">
<div class="container">
<button class="mobBtn" id="main-menu-trigger"><span><i class="icon-menu"></i></span></button>
<div class="logo">
<a href="#"><i class="fab fa-stack-overflow fa-4x" style="color: grey;"></i></a>
</div>
<button class="mobBtn" id="user-menu-trigger"><span><i class="icon-user"></i></span></button>
<nav class="desktop-menu">
<ul class="main-menu">
<li><a href="#">Posted Topics</a></li>
<li><a href="#">Products</a></li>


<!--<li><a href="/support/">Support</a></li>-->
<li><a href="index.html">Forums</a></li>
</ul>

</nav>
 <div class="navbar">
  
  <div class="dropdown">
    <button class="dropbtn">
      <span><i class="icon-user dropbtn hed" style="color: grey;"></i></span>
    </button>
    <div class="dropdown-content">
      <a href="#">logout</a>
     
    </div>
  </div>
</div> 
</div>
</header>
<nav class="mobile-menu mobile-main-menu">
<div>
<ul>
<li><a href="#">Posted topics</a></li>
</ul>
<ul>
<li><a href="#">Products</a></li>

<!--<li><a href="/support/">Support</a></li>-->
<li><a href="index.html">Forums</a></li>
</ul>
</div>
</nav>
<nav class="mobile-menu mobile-user-menu">
<div>
<ul>
<li><a href="#">Login</a></li>
<!--<li><a href="/fun-pit/">Fun pit</a></li>-->
</ul>
</div>
</nav>
<nav class="language-menu">
<button class="close-overlay"><i class="icon-close"></i></button>

</nav>

<main>
<div class="content forum">
<section class="hero short p0">

</section>
<section class="forum-content-wrap">
<div class="container">
<div class="main">
<header class="forum-header">
<h1>Threads</h1>
<div class="categories">
<button><span>All topics</span></button>
<ul>
<li><a href="#">1</a></li>
<li><a href="#">2</a></li>
</ul>
</div>
</header>
<div class="thread" id="poo">
<div class="rating">
<div class="forumRating"><button class="del"> <b style="color: #FF4C4C;">X</b></button></div>
</div>
<div class="main-area">
<div class="title"><a href="#">Topic Title</a></div>
<div class="row">
<div class="info">Main topic</div>
<div></div>
</div>
<div class="row">
<div>
<div>
<span>1 Comments</span>
<a href="#" class="share"><i class="icon-share"></i><span>Share</span></a>
</div>
<div class="actions">

</div>
</div>
<div></div>
</div>
</div>
<div class="user">
	<span>Jul 01, 2018</span><br>
12:39 am
</div>
</div>


<div class="thread" id="poo">
<div class="rating">
<div class="forumRating"><button class="del"> <b style="color: #FF4C4C;">X</b></button></div>
</div>
<div class="main-area">
<div class="title"><a href="#">Topic Title</a></div>
<div class="row">
<div class="info">Main topic</div>
<div></div>
</div>
<div class="row">
<div>
<div>
<span>1 Comments</span>
<a href="#" class="share"><i class="icon-share"></i><span>Share</span></a>
</div>
<div class="actions">

</div>
</div>
<div></div>
</div>
</div>
<div class="user">
	<span>Jul 01, 2018</span><br>
12:39 am
</div>
</div>


<div class="thread" id="poo">
<div class="rating">
<div class="forumRating"><button class="del"> <b style="color: #FF4C4C;">X</b></button></div>
</div>
<div class="main-area">
<div class="title"><a href="#">Topic Title</a></div>
<div class="row">
<div class="info">Main topic</div>
<div></div>
</div>
<div class="row">
<div>
<div>
<span>1 Comments</span>
<a href="#" class="share"><i class="icon-share"></i><span>Share</span></a>
</div>
<div class="actions">

</div>
</div>
<div></div>
</div>
</div>
<div class="user">
	<span>Jul 01, 2018</span><br>
12:39 am
</div>
</div>



<nav class="pager">
<ul>
<li><span>1</span></li>
<li><a href="page-2/index.html">2</a></li>
<li><a href="page-3/index.html">3</a></li>
<li><a href="page-4/index.html">4</a></li>
<li><a href="page-5/index.html">5</a></li>
<li class="arrow"><a href="page-2/index.html"><i class="icon-chevron-right"></i></a></li>
<li class="arrow"><a href="page-5/index.html"><i class="icon-chevron-double-right"></i></a></li>
</ul>
</nav>
</div>
<div class="sidebar">
<section>
<div class="row user-options">
<a href="user/index.html"><figure class="avatar"><img src="../andela/images/icon.png" alt="Guest" style="width: 100px;"></figure></a>
</div>
<div class="row">
<div class="username"><a href="user/index.html">Hello User!</a></div>
</div>
<div class="row">
<div class="container">
<a href="https://www.coolpad.eu/login/" class="button s3 db primary">Publish a post</a>
</div>
</div>
</section>
<section>
<div class="container">
<div class="panel transparent">
<header class="panel-header">Forum Stats</header>
<div class="panel-content">
<div class="stat">118<span>Total threads</span></div>
<div class="stat">136<span>Total posts</span></div>
<div class="stat">1896<span>Total members</span></div>
<div class="stat">0<span>Total online</span></div>
</div>
</div>
</div>
</section>
</div>
</div>
</section>
</div>
<footer class="mainFooter">
<div class="container">
<div><span>&copy; 2018 stachoverflow lite</span></div>
<nav>
<ul>
<li><a href="#">About</a></li>
<!--<li><a href="/legal/">Legal</a></li>-->
<li><a href="#">Press</a></li>
<!--<li><a href="/find-us/">Find us</a></li>-->
</ul>
</nav>

<div class="social">
<ul>
<li><a href="https://www.facebook.com/coolpadeu" target="_blank"><i class="icon-facebook"></i></a></li>
<li><a href="https://www.instagram.com/coolpadeu/" target="_blank"><i class="icon-instagram"></i></a></li>


<li><a href="https://www.youtube.com/channel/UC8y6vWibHNXwpedg2wSst5g" target="_blank"><i class="icon-youtube"></i></a></li>
<!--
-->
</ul>
</div>
</div>
</footer>
</main>

</div>
<script type="text/javascript" src="../../images.coolpad.eu/javascript-EU-329939291013afaab39171b8683b7bd697be739dad2.js"></script>
<script>
  window.intercomSettings = {
    app_id: "qk1n84lw"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='../../js.intercomcdn.com/shim.0d4a85cd.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120365851-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-120365851-4');
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
$(document).ready(function(){
    $("button").click(function(){
        $("#poo").remove();
    });
});
</script>


</button>
</body>


</html>
