<!doctype html>
<html lang="EU">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<title>view topic</title>
<meta name="description" content="">

<link rel="stylesheet" type="text/css" href="../../../../cloud.typography.com/6240796/7616372/css/fonts.html" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/view.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/font-awesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}"/>
<script type="text/javascript">document.cookie='resolution='+Math.max(screen.width,screen.height)+("devicePixelRatio" in window ? ","+devicePixelRatio : ",1")+'; path=/';</script>
<link rel="canonical" href="../../../index.html">
<script src="../../../../new-cms.nordnet.ws/hosted-libraries/js/tinymce/tinymce.gzip.js"></script>
</head>

<body>
<div class="wrap">
<header class="mainHeader">
<div class="container">
<button class="mobBtn" id="main-menu-trigger"><span><i class="icon-menu"></i></span></button>
<div class="logo">
<a href="#"><i class="fab fa-stack-overflow fa-4x" style="color: grey;"></i></a>
</div>
<nav class="desktop-menu">
<ul class="main-menu">
<li><a href="#">Posted Topics</a></li>
<li><a href="#">Products</a></li>


<!--<li><a href="/support/">Support</a></li>-->
<li><a href="index.html">Forums</a></li>
</ul>

</nav>
 <div class="navbar">
  
  <div class="dropdown">
    <button class="dropbtn">
      <span><i class="icon-user dropbtn hed" style="color: grey;"></i></span>
    </button>
    <div class="dropdown-content">
      <a href="#">logout</a>
     
    </div>
  </div>
</div> 
</div>
</header>
<nav class="mobile-menu mobile-main-menu">
<div>
<ul>
<li><a href="#">Posted topics</a></li>
</ul>
<ul>
<li><a href="#">Products</a></li>

<!--<li><a href="/support/">Support</a></li>-->
<li><a href="index.html">Forums</a></li>
</ul>
</div>
</nav>
<nav class="mobile-menu mobile-user-menu">
<div>
<ul>
<li><a href="#">Login</a></li>
<!--<li><a href="/fun-pit/">Fun pit</a></li>-->
</ul>
</div>
</nav>
<nav class="mobile-menu mobile-user-menu">
<div>
<ul>
<li><a href="#">Login</a></li>

</ul>
</div>
</nav>
<nav class="language-menu">
<button class="close-overlay"><i class="icon-close"></i></button>
<div class="container">
<h4>Visit your country site</h4>
<ul>
<li><a href="../../../index.html"><img src="../../../uploads/languages/EU.png" alt="EU"><span>Europe / English</span></a></li>
<li><a href="https://www.coolpad.eu/es/"><img src="../../../uploads/languages/ES.png" alt="ES"><span>Spanish/Español</span></a></li>
</ul>
</div>
</nav>
<main>
<div class="content forum">

<section class="forum-content-wrap">
<div class="container">
<div class="main">
<header class="forum-header">
<div class="rating">
</div>
<h1 class="title">Topic Title</h1>

</header>
<a name="comment_153" class="anchor"></a>
<div class="post">
<div class="user">
<a href="../../user/chandan/index.html">
<figure class="avatar"><img src="../andela/images/icon.png" alt="user" style="width: 50px;"></figure>
<span class="username">User</span>
</a>

</div>
<div class="post-content">
<article><p>answer</p></article>
<footer>
	<div>
<script src="https://aj4ax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<a class="button"><span class="label" style="font-size:20px;"><i class="fa fa-thumbs-up"></i></span><span class="number" style="font-size:20px;"> 0</span></a>
</div>
<div>
<time>4 months ago, @ 19:51</time>
</div>
<div class="actions">
</div>
</footer>
</div>
</div>

<a name="comment_153" class="anchor"></a>
<div class="post">
<div class="user">
<a href="../../user/chandan/index.html">
<figure class="avatar"><img src="../andela/images/icon.png" alt="user" style="width: 50px;"></figure>
<span class="username">User</span>
</a>

</div>
<div class="post-content">
<article><p>answer</p></article>
<footer>
	<div>
<script src="https://aj4ax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<a class="button"><span class="label" style="font-size:20px;"><i class="fa fa-thumbs-up"></i></span><span class="number" style="font-size:20px;"> 0</span></a>
</div>
<div>
<time>4 months ago, @ 19:51</time>
</div>
<div class="actions">
</div>
</footer>
</div>
</div>

<a name="comment_153" class="anchor"></a>
<div class="post">
<div class="user">
<a href="../../user/chandan/index.html">
<figure class="avatar"><img src="../andela/images/icon.png" alt="user" style="width: 50px;"></figure>
<span class="username">User</span>
</a>

</div>
<div class="post-content">
<article><p>answer</p></article>
<footer>
	<div>
<script src="https://aj4ax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<a class="button"><span class="label" style="font-size:20px;"><i class="fa fa-thumbs-up"></i></span><span class="number" style="font-size:20px;"> 0</span></a>
</div>
<div>
<time>4 months ago, @ 19:51</time>
</div>
<div class="actions">
</div>
</footer>
</div>
</div>

<a name="comment_153" class="anchor"></a>
<div class="post">
<div class="user">
<a href="../../user/chandan/index.html">
<figure class="avatar"><img src="../andela/images/icon.png" alt="user" style="width: 50px;"></figure>
<span class="username">User</span>
</a>

</div>
<div class="post-content">
<article><p>answer</p></article>
<footer>
	<div>
<script src="https://aj4ax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<a class="button"><span class="label" style="font-size:20px;"><i class="fa fa-thumbs-up"></i></span><span class="number" style="font-size:20px;"> 0</span></a>
</div>
<div>
<time>4 months ago, @ 19:51</time>
</div>
<div class="actions">
</div>
</footer>
</div>
</div>




</div>
<div class="sidebar">
<section>
<div class="row user-options">
<a href="user/index.html"><figure class="avatar"><img src="../andela/images/icon.png" alt="Guest" style="width: 100px;"></figure></a>
</div>
<div class="row">
<div class="username">
    <a href="user/index.html">{{ current_user.username }}</a></div>
</div>
<div class="row">
<div class="container">
<a href="#" class="button s3 db primary">Publish a post</a>
</div>
</div>
</section>
<section>
<div class="container">
<div class="panel transparent">
<header class="panel-header">Forum Stats</header>
<div class="panel-content">
<div class="stat">118<span>Total threads</span></div>
<div class="stat">136<span>Total posts</span></div>
<div class="stat">1896<span>Total members</span></div>
<div class="stat">0<span>Total online</span></div>
</div>
</div>
</div>
</section>
</div>
</div>
</section>
</div>
<footer class="mainFooter">
<div class="container">
<div><span>&copy; 2018 stackoverflow lite</span></div>
<nav>
<ul>
<li><a href="#">About</a></li>
<!--<li><a href="/legal/">Legal</a></li>-->
<li><a href="#">Press</a></li>
<!--<li><a href="/find-us/">Find us</a></li>-->
</ul>
</nav>
<div class="social">
<ul>
<li><a href="#" target="_blank"><i class="icon-facebook"></i></a></li>
<li><a href="#" target="_blank"><i class="icon-instagram"></i></a></li>


<li><a href="#" target="_blank"><i class="icon-youtube"></i></a></li>
<!--
-->
</ul>
</div>
</div>
</footer>
</main>

</div>
<script type="text/javascript" src="../../../../images.coolpad.eu/javascript-EU-329939291013afaab39171b8683b7bd697be739dad2.js"></script>
<script>
  window.intercomSettings = {
    app_id: "qk1n84lw"
  };
</script>
<script>(function(){var w=window;var ic=w.Intercom;if(typeof ic==="function"){ic('reattach_activator');ic('update',intercomSettings);}else{var d=document;var i=function(){i.c(arguments)};i.q=[];i.c=function(args){i.q.push(args)};w.Intercom=i;function l(){var s=d.createElement('script');s.type='text/javascript';s.async=true;s.src='../../../../js.intercomcdn.com/shim.0d4a85cd.js';var x=d.getElementsByTagName('script')[0];x.parentNode.insertBefore(s,x);}if(w.attachEvent){w.attachEvent('onload',l);}else{w.addEventListener('load',l,false);}}})()</script>
<!-- Global site tag (gtag.js) - Google Analytics -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-120365851-4"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-120365851-4');
</script>
<script>

$(document).ready(function () {
  $('a.button').click(function () {
  if ($(this).hasClass('clicked')) {
    $(this).removeClass('clicked');
    $(this).find('span.number').html(parseInt($(this).find('span.number').html()) - 1);
    $(this).find('span.label').html('<i class="fa fa-thumbs-up"></i>');
  }
  else {
    $(this).addClass("clicked");$(this).find('span.number').html(parseInt($(this).find('span.number').html()) + 1);
    $(this).find('span.label').html('<i class="fa fa-thumbs-up" style="color: #66bb6a;"></i>');
  }
});
});
</script>
</body>
</html>
